openapi: 3.0.1
info:
  contact:
    email: rakesh@rareminds.in
  description: This is the API specification for RMCS.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://api.rmcloudsoftware.com/terms/
  title: RMCS API
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: https://api.rmcloudsoftware.com/v1
paths:
  /{itemId}/likes/widget:
    get:
      operationId: getLikesWidget
      parameters:
      - explode: true
        in: query
        name: label
        required: false
        schema:
          default: Likes
          type: string
        style: form
      - explode: false
        in: path
        name: itemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/html:
              schema:
                example: <html></html>
                type: string
          description: successfully retrived the count of likes
        "404":
          description: Invalid itemId
        "500":
          description: Internal sever error
      summary: Gets widget to display the likes for the itemId
      tags:
      - item
      x-eov-operation-handler: controllers/ItemController
  /{itemId}/likes:
    get:
      operationId: getLikes
      parameters:
      - explode: false
        in: path
        name: itemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successfully retrived the count of likes
        "404":
          description: Invalid itemId
        "500":
          description: Internal sever error
      summary: Gets the count of the likes for the itemId
      tags:
      - item
      x-eov-operation-handler: controllers/ItemController
    post:
      operationId: updateLikes
      parameters:
      - explode: false
        in: path
        name: itemId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                op:
                  enum:
                  - inc
                  - dec
                  - reset
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successfully added to the count of likes
        "403":
          description: Access denied
        "404":
          description: Invalid itemId/op
        "500":
          description: Internal sever error
      summary: Update by Incrementing or Decrementing the count of the likes for the
        itemId
      tags:
      - item
      x-eov-operation-handler: controllers/ItemController
components:
  requestBodies:
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    NotFoundError:
      description: Unable to reach/find the requested resource
  schemas:
    Context:
      properties:
        userhash:
          format: string
          type: integer
      type: object
      xml:
        name: Context
    EmailCredentials:
      properties:
        email:
          format: email
          type: string
        password:
          format: password
          type: string
      required:
      - email
      - password
      type: object
    User:
      properties:
        id:
          format: uuid
          type: string
        email:
          type: string
        password:
          type: string
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        userStatus:
          description: User Status
          format: int32
          type: integer
      required:
      - id
      type: object
      xml:
        name: Use
    inline_response_200:
      example:
        count: 1234
      properties:
        count:
          description: count of the likes.
          example: 1234
          type: integer
    inline_object:
      properties:
        op:
          enum:
          - inc
          - dec
          - reset
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
